* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #654f44;
}

/*--------PRINCIPIO DEL HEATER---------*/
header {
  display: flex;
  justify-content: space-around;
  background-color: #bd8a3e;
  min-height: 70px;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  color: #292627;
  text-decoration: none;
}

.logo img {
  height: 50px;
  margin-right: 10px;
  border-radius: 12px;
}

nav a {
  color: #292627;
  font-weight: 600;
  padding-right: 10px;
}

nav a:hover {
  transform: scale(1.1);
  color: beige;
  transition: 0.2s;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
  }

  nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
}

footer {
  background-color: #bd8a3e;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-footer {
  height: 80px;
  margin-bottom: 1rem;
  border-radius: 35px;
}

.social-icons-container,
.footer-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 1rem;
  font-size: 40px;
}

.social-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-image: url(../assets/img/icon-instagram.png);
  background-position: center;
  background-size: 48%;
  background-repeat: no-repeat;
  margin: 1rem;
}

.social-icon:hover {
  background-color: #121212;
  filter: invert(1);
}

.social-icon:nth-of-type(2) {
  background-image: url(../assets/img/icon-facebook.png);
}

.social-icon:nth-of-type(3) {
  background-image: url(../assets/img/icon-linkedin.png);
}

.social-icon:nth-of-type(4) {
  background-image: url(../assets/img/icon-twitter.png);
}

.footer-menu-container {
  list-style-type: none;
  color: #f2f2f2;
  font-size: 10px;
}

.footer-menu-container a {
  text-decoration: none;
  color: #f2f2f2;
  font-size: 16px;
}

.menu-item {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}

.menu-item:hover {
  opacity: 1;
}

.copy {
  color: #f2f2f2;
  opacity: 0.3;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(to bottom right, rgba(96, 76, 76, 0.6), rgba(96, 76, 76, 0.6)), url("../assets/img/fondo-index/fondo.png");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.d-item {
  height: 500px;
}

.d-item .d-img {
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  filter: brightness(0.6);
}

.main-tipos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: wrap row;
}

.main-tipos .img-tipos {
  width: 100%;
}

.main-tipos .h2-tipos {
  margin: 0.3em;
  color: rgb(189, 138, 61) 51%, 49%;
}

.main-tipos .card-tipos {
  color: #f0f8ff;
  margin: 1.25em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  text-align: center;
  border: solid 0.2em rgb(0, 0, 0);
  border-radius: 1em;
  box-shadow: 0.4em 0.7em 0.9em wheat;
  background-color: rgb(41, 38, 39);
  opacity: 90%;
}

.main-tipos .card-tipos:hover {
  transition: 1s;
}

.main-tipos .bordes-tipos {
  border-top-left-radius: 0.9em;
  border-top-right-radius: 0.9em;
}

.main-tipos .bg-tipos {
  padding: 0.5em 1.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 0.9em;
  border-bottom-right-radius: 0.9em;
  border-top: solid 0.2em rgb(0, 0, 0);
}

.main-tipos .boton-tipos {
  background-color: rgb(101, 79, 68);
  padding: 0.6em 1em;
  margin: 0.6em;
  border-color: transparent;
  border-radius: 0.6em;
  font-size: 1em;
  font-weight: 500;
}

.main-tipos .boton-tipos:hover {
  background-color: rgb(189, 138, 62);
  cursor: pointer;
  transition: 0.2s;
}

.login {
  margin-top: 180px;
  margin-bottom: 180px;
}

.login .login-container {
  margin-top: 50px;
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login h2 {
  text-align: center;
}

.login form {
  margin-top: 20px;
}

.login label {
  display: block;
  margin-bottom: 8px;
}

.login input[type=text],
.login input[type=password] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid rgb(204, 204, 204);
}

.login input[type=submit] {
  width: 100%;
  padding: 8px;
  margin-top: 20px;
  background-color: rgb(76, 175, 80);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login input[type=submit]:hover {
  background-color: rgb(69, 160, 73);
}

@media screen and (max-width: 480px) {
  .container-login {
    max-width: 100%;
  }
}

.card {
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
  max-width: 1200px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.5em;
  flex-wrap: wrap;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400 ease;
}
.index-p, .index-h2{
  color:rgb(240, 248, 255)
}
.inicio {
  background-image: url("../assets/img/fondo-inicio/fondo.jpeg");
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos del formulario de inicio de sesión */
.login-form {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  max-width: 400px;
  width: 100%;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #4CAF50;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}

@media only screen and (max-width: 600px) {
  .login-form {
    padding: 20px;
  }
}

.card .card-item:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card .card-img {
  width: 100%;
}

.card .card-item {
  background: rgb(242, 242, 242);
  padding-bottom: 3em;
  flex-basis: 280px;
  max-width: 450px;
  flex-grow: 1;
  box-shadow: rgb(101, 79, 68) 0 5px 15px 0;
}

.card .card-content {
  width: 90%;
  margin: 0 auto;
}

.card .card-picture {
  width: 90%;
  margin: 0 auto;
  position: relative;
  bottom: 2em;
  border-top: solid 2px rgb(170, 170, 170);
  border-right: solid 2px rgb(170, 170, 170);
  border-left: solid 2px rgb(170, 170, 170);
}

.card .card-title {
  margin-bottom: 1em;
}

.card .card-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 15px;
  color: rgb(47, 180, 204);
  border: 1px solid rgb(47, 180, 204);
  border-radius: 4px;
  transition: all 400 ease;
}

.card .card-button:hover {
  transition: 0.2s;
  background: rgb(69, 160, 73);
  color: rgb(242, 242, 242);
}

.card .card-texts {
  text-align: center;
}

.card .card-paragraph {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */