.card {
    @include card;


    .card-img {
        width: 100%;
    }

    .card-item {
        background: rgb(242, 242, 242);
        padding-bottom: 3em;
        flex-basis: 280px;
        max-width: 450px;
        flex-grow: 1;
        box-shadow: rgb(101, 79, 68) 0 5px 15px 0;

        &:hover {
            box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.4);
            transform: translateY(-3%);
        }
    }

    .card-content {
        width: 90%;
        margin: 0 auto;
    }

    .card-picture {
        @include card-picture;
    }

    .card-title {
        margin-bottom: 1em;
    }

    .card-button {
        @include card-button;

        &:hover {
            transition: 0.2s;
            background: rgb(69, 160, 73);
            color: rgb(242, 242, 242);
        }
    }


    .card-texts {
        text-align: center;
    }

    .card-paragraph {
        text-align: center;
    }
}